
// Content
//

.content {
  padding: $grid-gutter-width * 1.5 0;
}

// Fonts & headings
h1, .h1 {
  margin-bottom: 0.7rem;
}
h2, .h2 {
  color: map_get($theme-colors, 'primary');
}

.ce-gallery img {
  height: auto;
  max-width: 100%;
}

.content,
footer {
  a {
    color: inherit;
    text-decoration: underline;
  }
}

b,strong {
  font-weight: $font-weight-bold;
}