/* Menu open*/
body.menu--open {
  overflow: hidden;
  .content {
	height: 100vh;
	overflow: hidden;
  }
}

/* Menu */
.mobile-menu {
  position: fixed;
  left: 0;
  top: 44px;
  width: 0;
  height: 0;
  z-index: 450;
  @media screen and (min-width: 64em) {
	display: none;
  }
  .app-menu {
	overflow-y: scroll;
  }
  .top {
	text-align: left;
	.logo {
      width: 100%;
      padding: $grid-gutter-width;
	}
  }

  .bottom {
	margin-top: 1em;
	ul {
	  margin-bottom: 1em;
      li {
        padding: 0;
        a {
          border-bottom: 1px solid $border-color;
        }
      }
      .submenu-toggle {
        margin-top: 1px;
      }
	}

    > .frame {
      padding: 2.5rem 1rem 0.5rem;
    }
  }
  p.header {
	margin-bottom: 0;
  }
}

.app-menu-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(-98%);
  transform: translateX(-98vw);
  z-index: 170;
}

.app-menu {
  background-color: #fff;
  color: #263238;
  position: fixed;
  max-width: 350px;
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  will-change: transform;
  z-index: 160;
  pointer-events: auto;
}

.menu--visible .app-menu-container {
  -webkit-transform: none;
  transform: none;
  pointer-events: none;
}

.menu--animatable .app-menu-container {
  transition: all 130ms ease-in;
}

.menu--visible.menu--animatable .app-menu-container {
  transition: all 330ms ease-out;
}

.menu-background {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  will-change: opacity;
  display: none;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.menu--visible .menu-background {
  opacity: 0.5;
  pointer-events: auto;
}

.menu--background-visible .menu-background {
  display: block;
}

.app-menu-open .app-menu {
  -webkit-transform: none;
  transform: none;
  transition: all 300ms ease-out;
}

.menu--background-visible .app-menu-background {
  display: block;
}

.no-transition {
  transition: none !important;
}

.app-menu-background {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
