
// Main navi
//

$navbar-default-link-hover-bg: map_get($theme-colors, 'brown');
$item-min-width: 260px;
$navbar-default-bg: $mainnav-bg;
$navbar-default-link-color: $body-color;
$navbar-default-link-hover-color: $link-hover-color;

$navbar-first-hover-bg: map_get($theme-colors, 'primary');
$navbar-first-hover-color: white;

$subnav-item-color: white;
$subnav-hover-color: $subnav-item-color;
$subnav-bg-color: $pflegebraun;
$subnav-bg-hover-color: darken($pflegebraun, 20%);


//
// Navigation styles
//

.navbar {

  font-size: $mainnav-fsize;

  @include naviLinks($nav-color);

  background: $navbar-default-bg;

  z-index: 20;
  border-width: 1px 0;

  li {
	min-width: $item-min-width - 40px;
	position: relative;

	a {
	  background-color: $navbar-default-bg;
	  color: $navbar-default-link-color;
	}

  }

  // First level
  ul.navbar-nav > li {

	> a.nav-link {
	  padding: ($spacer / 2) $spacer;
	  padding: 0.75rem $spacer;
	}

	&.active > a {
	  color: map_get($theme-colors, primary);
	  //background: darken($navbar-default-bg, 5%);
	}
	&:hover > a,
	> a:hover {
	  background-color: $navbar-first-hover-bg;
	  color: $navbar-first-hover-color;
	}
  }

  .subnav {
	z-index: 21;
	max-height: 0;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;

	min-width: 100%;
	max-width: 135%;
	transition: max-height 0.3s linear;

	background-color: none;

	.subnav {
	  z-index: 22;
	  top: 0;
	  left: 100%;
	  padding-left: 1px;
	  a {
		padding-left: ($grid-gutter-width * 3);
	  }
	}

	li {
	  margin: 0;
	  padding: 0;
	  padding-top: 1px;
	  min-width: $item-min-width - 40px;

	  a {
	  	background-color: $subnav-bg-color;
		display: block;
		// padding: 11px 15px 12px;
		//font-size: 0.7em;
		padding: 3px 4px;
		padding-left: ($grid-gutter-width * 1.5);
		color: $subnav-item-color;
	  }

	  &.active > a {
		color: map_get($theme-colors, primary);
	  }
	  a:hover {
		background-color: $subnav-bg-hover-color;
		color: $subnav-hover-color;
	  }
	}

	&.open {
	  max-height: 999px;

	  > li > a {
		background: $navbar-default-link-hover-bg;
	  }
	}
  }

  @include media-breakpoint-up(md) {
	.menu-toggle {
	  display: none;
	}
  }
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
	ul {
	  position: relative;

	  li {

		&:hover > .subnav {
		  max-height: 999px;
		  overflow: visible;
		}
	  }
	}
	.subnav {
	  position: absolute;
	  padding-left: 0;

	  .subnav {
		padding-left: 1px;
	  }

	  .subnav li > a,
	  li > a {
		padding: 11px 15px 12px;
	  }
	}
  }
}
