<nav class="navbar navbar-expand-md">
	<button class="menu-toggle btn btn-light" type="button" aria-expanded="false" aria-label="Toggle navigation">
		<i class="far fa-bars"></i> <span class="sr-only">Navigation</span>
	</button>
	<f:if condition="{features_use_quicklink}">
		<f:cObject typoscriptObjectPath="lib.nav.quicklink"></f:cObject>
	</f:if>

	<div class="collapse navbar-collapse" id="nav-content">
		<f:cObject typoscriptObjectPath="lib.nav.main"></f:cObject>
	</div>

</nav>
