<div class="mobile-menu">
	<div class="menu-background" style="cursor: pointer;"></div>
	<div class="app-menu-container">
		<div class="app-menu">
			<div class="top">

				<f:render partial="Logo" arguments="{_all}"></f:render>

			</div>
			<div class="bottom">

				<f:cObject typoscriptObjectPath="lib.nav.mobile"></f:cObject>

			</div>
		</div>
	</div>
</div>
