//
// Color system
//

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
);

$pflegeblau: #00c5ff;
$pflegebraun: #9b9687;

$theme-colors: (
  primary: $pflegeblau,
  secondary: $gray-700,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-900,
  blue: $pflegeblau,
  brown: $pflegebraun,
);

//$body-color: #444;
$body-color: #555555;
$link-color: $body-color;

// Sizes
//
$grid-gutter-width: 30px;
$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px
);
$border-radius: 0;
$spacer: 1rem;

$h1-font-size: 2rem; // 32px
$h2-font-size: 1.375rem; // 22px
$h3-font-size: 1.375rem; // 22px
$h4-font-size: 1.375rem; // 22px
$h5-font-size: 1.1rem;
$h6-font-size: 1rem;

$headings-font-weight: 300;

$font-weight-base: 300;
$font-size-base: 0.875rem; // 14px
$font-size-base: 0.9375rem; // 15px

$font-weight-bold: 700;

// Navi

$navbar-padding-y: 0;

$mainnav-bg: #F2F1EE;
$mainnav-fsize: 1.2142857143 * $font-size-base; // 17px

$nav-color: $body-color;

// Breadcrumb
// Breadcrumbs

$breadcrumb-bg: white;
$breadcrumb-divider: ">";
//$breadcrumb-divider-color:      $gray-600 !default;
//$breadcrumb-active-color:       $gray-600 !default;

$border-radius: 0;
