
@import "variables";


@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// bower:scss
// endbower


// Font Awesome 5
$fa-font-path: "../Fonts/fontawesome-pro-5.2.0-web/webfonts";

@import "../Fonts/fontawesome-pro-5.2.0-web/scss/regular";
@import "../Fonts/fontawesome-pro-5.2.0-web/scss/light";
//@import "../Fonts/fontawesome-pro-5.2.0-web/scss/solid";
@import "../Fonts/fontawesome-pro-5.2.0-web/scss/brands";
@import "../Fonts/fontawesome-pro-5.2.0-web/scss/fontawesome";
// end:fawesome5


// Partials
@import "partials/mixins";

@import "partials/blockstile";
@import "partials/content";
@import "partials/fonts";
@import "partials/footer";
@import "partials/header";
@import "partials/js_gesture_menu";
@import "partials/mainnavi";
@import "partials/mobile_navi";

// Elements
@import "elements/spacer_mask";

// Extensions
@import "extensions/powermail";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Responsive: Portrait tablets and up */
@include media-breakpoint-up(lg){
  .container {
    max-width: 62rem; // 992px
  }
}
@include media-breakpoint-up(xl){
  .container {
    max-width: 75rem;
  }
}
