<f:layout name="Default"></f:layout>

<f:section name="stage">
	<div class="stage">
		<f:cObject typoscriptObjectPath="lib.contentStage"></f:cObject>
	</div>
</f:section>

<f:section name="main">

	<div class="content">

		<f:cObject typoscriptObjectPath="lib.contentMain"></f:cObject>

	</div>

</f:section>
